@media only screen and (max-width: 300px) {
	ul.top-feature{
		display: block !important;
	}
	ul.top-feature li{
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 500px) {
	ul.top-feature{
		display: block !important;
	}
	ul.top-feature li{
		margin-bottom: 20px;
	}
	.custom-breadcrumb {
		padding-left: 18px !important;
	}
	.slider-text {
		font-size: 16px !important;
	}
	.home-slider .slider-contain h2, .center-slider .slider-contain h2 {
		font-size: 30px;
		margin: 0px 0px 0px 0px;
	}
	.home-slider .slider-contain h2, .center-slider .slider-contain h2 {
		font-size: 25px !important;
		margin: 0px 0px 0px 0px;
	}
	.full-banner.banner-layout-3 .banner-contain h3 {
		color: #fff;
		margin-top: 20px !important;
	}
	
}
@media only screen and (max-width: 500px) {	
	.btn-inquire-now1, .btn-inquire-now2 {
		margin-top: 20px !important;
	}
}

@media only screen and (max-width: 575.98px) {
	.slider-container {
		padding: 1rem !important;
		background: rgba(0, 0, 0, 0.54);
		text-align: center;
		height: inherit;
	}
	.home-slider .home {
		height: 51vh !important;
	}
	ul.top-feature li{
		display: block !important;
	}
	.slider-container .row{
    	height: inherit;
	}
	.service-block p {
		text-transform: capitalize;
		margin-bottom: 0;
		font-size: 14px;
	}
	.our-product img{
		width: 50px !important;
	}
	.our-product h3 {
		text-align: left !important;
		font-size: 19px;
	}
	.qty-box .input-group .form-control {
		width: 58px;
	}
	.our-product {
		display: flex;
		flex-direction: column;
	}

	.our-product .checkbox{
		float: right;
		font-size: 22px;
		width: 25px;
		height: 25px;
	}
	.custom-breadcrumb {
		padding: 4rem 0rem !important;
	}
	.custom-breadcrumb h3 span {
		font-size: 37px;
		line-height: 1.2 !important;
		margin-top: 13px;
	}

	.home-slider .slider-contain h2, .center-slider .slider-contain h2 {
		color: #fff;
		font-size: 32px;
		line-height: 44px;
		margin: 0px 0px 5px 0px;
		font-weight: 500;
	}
	.slider-text {
		font-size: 18px;
		line-height: 1.2;
		color: #fff;
		padding: 0px;
		text-shadow: 7pt 4pt 7pt black;
		margin: 0px 0px 12px 0px;
	}
	.brand-logo img {
		height: auto !important;
		max-width: 205px !important;
	}
	.top-header {
		display: none;
	}

	.home-slider .home {
		height: 80vh;
	}
	.toggle-nav i {
		font-size: 24px;
		color: white;
		opacity: 1 !important;
		border-radius: 4px;
		background: #3b8440;
		width: 40px;
		height: 40px;
		display: flex;
		align-content: center;
		justify-content: center;
		align-items: center;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
	.top-header {
		display: none;
	}
	
	.home-slider .home {
		height: 112vh;
	}

	.toggle-nav i {
		font-size: 24px;
		color: white;
		opacity: 1 !important;
		border-radius: 4px;
		background: #3b8440;
		width: 40px;
		height: 40px;
		display: flex;
		align-content: center;
		justify-content: center;
		align-items: center;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
	
	.toggle-nav i {
		font-size: 24px;
		color: white;
		opacity: 1 !important;
		border-radius: 4px;
		background: #3b8440;
		width: 40px;
		height: 40px;
		display: flex;
		align-content: center;
		justify-content: center;
		align-items: center;
	}
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
	
		.home-slider .slider-contain h2, .center-slider .slider-contain h2 {
			color: #fff;
			font-size: 60px;
			line-height: 70px;
			margin: 0px 0px 0px 0px;
			font-weight: 500;
		}

		.slider-text {
		font-size: 23px;
		line-height: 1.5;
		color: #fff;
		padding: 22px;
		text-shadow: 7pt 4pt 7pt black;
		margin: 0px 100px;
		}
		
	.toggle-nav i {
		font-size: 24px;
		color: white;
		opacity: 1 !important;
		border-radius: 4px;
		background: #3b8440;
		width: 40px;
		height: 40px;
		display: flex;
		align-content: center;
		justify-content: center;
		align-items: center;
	}
  }
  
  @media only screen and (min-width: 1200px) {
	/* Styles for extra large devices (large desktops) */
	.slider-container {
		padding: 2rem 10rem !important;
		background: rgba(0, 0, 0, 0.54);
		text-align: center;
		height: inherit;
	}
	.slider-container .row{
    	height: inherit;
	}
	.service-block p {
		text-transform: capitalize;
		margin-bottom: 0;
		font-size: 14px;
	}
	.home-slider .slider-contain h2, .center-slider .slider-contain h2 {
		color: #fff;
		font-size: 60px;
		line-height: 44px;
		margin: 0px 0px 25px 0px;
		font-weight: 500;
	}
	.slider-text {
		font-size: 23px;
		line-height: 1.2;
		color: #fff;
		padding: 0px;
		text-shadow: 7pt 4pt 7pt black;
		margin: 0px 0px 12px 0px;
	}
  }
  .slider-text {
    color: white;
}

.our-product .checkbox{
	float: right;
	width: 25px;
	height: 25px;
}

.text-left{
    text-align: left;
  }
.sub-footer p {
    text-align: center;
}
.home-slider .slider-contain h2, .center-slider .slider-contain h2 {
    color: #fff;
 }
  .slider-container {
    height: inherit;
}
.home-slider .home {
	height: 82vh;
	display: flex;
	align-content: center;
	vertical-align: middle;
	align-items: center;
}

.home-slider .slider-contain {
    height: inherit;
}
.subHeading{
    font-size: 38px;
    color: green;
    margin-bottom: 4rem;
}

.custom-breadcrumb h3{
	color: #f1f1b2 !important;
	text-align: left;
	font-size: 24px !important;
    line-height: 1.5;
}
.inquiry-form h3 {
    background: #40775b;
    margin-bottom: 0px;
    padding: 12px 18px;
    color: white;
}
.checkout-page .checkout-title h3 {
    color: #59825c;
    font-weight: 700;
    margin-bottom: 25px;
    float: left;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding-bottom: 6px;
}
#qr-scanner {
    background: linear-gradient(45deg, #c5d7ce 0%, #ffffff 100%);
}
#qr-scanner img {
    max-width: 500px;
    border: 6px solid white;
    outline: 1px solid silver;
    border-radius: 10px;
    box-shadow: 1pt 7pt 7pt 0pt #15151545;
}
.checkout-page .checkout-form select, .checkout-page .checkout-form textarea {
    background: white;
}

.inquiry-form {
    background: #f2f3f39c;
}

.inquiry-form label {
    margin-bottom: 0.5rem;
    font-size: 15px;
    font-weight: 700;
    color: #373737;
}
.custom-breadcrumb a{
	color: #f1f0c0;
}
.custom-breadcrumb a:hover {
    color: #ffdb99;
}

.service-wrap-list li {
	font-size: 18px;
	color: #57585a;
	box-shadow: 0 0 0 0 #ffffff;
	line-height: 1.5;
}

.custom-breadcrumb h3 span{
	font-size: 55px;
}
.about-page p, .about-page h3 {
    text-align: left !important;
}


.custom-breadcrumb{
	background: #064f4078;
	width: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	padding: 6rem 5rem;
}

section, .section-t-space {
    padding-top: 60px;
    padding: 44px 0px;
}
.contact-right a {
    font-weight: 600;
    font-size: 17px;
    color: #777777;
}
.custom-cart{

}
ul.top-feature {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    position: relative;
}
ul.top-feature {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    margin-top: 70px;
    position: relative;
}
ul.top-feature li img {
    height: 80px;
    margin-bottom: 30px;
}

.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
ul.top-feature li {
    display: block;
    background: #f7c35f;
    padding: 20px 30px;
    border-radius: 23px;
    box-shadow: 2pt 5pt 3pt #cec3c3;
}
.btn-solid:hover {
    background-position: 100%;
    color: #000;
    background-color: #f7c35f;
}

ul.top-feature li:nth-child(2) {
    background: green;
}

ul.top-feature li:nth-child(1) h4{
    font-size: 18px;
    line-height: 1.4;
	font-weight: bold;
}

ul.top-feature li:nth-child(2) h4, ul.top-feature li:nth-child(2) p {
    color: white;
    font-size: 18px;
    line-height: 1.4;
	font-weight: bold;
}

.custom-cart .collapse-block-title {
	background: whitesmoke;
	padding: 10px 5px;
}
.collection-collapse-block .collapse-block-title::after {
	position: relative;
    display: contents;
	empty-cells: hide;
	right: -20px;
	content: "\f0d7";
	font-family: FontAwesome;
	color: #444;
}
.list li {
	display: list-item;
	list-style-position: inside;
}
#services h3 {
	padding: 12px 0px;
    color: #1e561e;
}
#services .list {
	margin-bottom: 22px;
	line-height: 2;
	font-size: 17px;
	color: #888;
}

.blog-detail h1 {
	font-size: 41px;
	color: #222;
	font-weight: 600;
    text-transform: unset;
}

.blog-detail .thumb {
   max-width: 800px !important
}
.home-slider .slider-contain, .center-slider .slider-contain{
    width: 100%;
}
.slider-container {
    width: 100%;
    display: flex;
	background: rgba(0, 0, 0, 0.54);
	text-align: center;  
	align-items: center;

}


.heading h4 {
	color: var(--theme-color);
}
.heading h2 {
	line-height: 1.2;
}
.sec-heading-tagline {
	position: relative;
	display: inline-block;
	color: var(--theme-color);
	font-size: 24px;
	line-height: 3;
	font-weight: 500;
}
.about-text ul i {
	color: #3b843f;
}
.quantity-box {
	/*for absolutely positioning spinners*/
	position: relative; 
	padding: 5px;
	padding-right: 25px;
    font-weight: bold;
    font-size: 21px;
  }


.btn-cart-next{
    position: fixed;
    bottom: -12px;
    width: 90%;
    background: white;
    height: 100px;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.btn-cart-next div{
    text-align: center;
    padding: 0px;
}
.btn-cart-next button{
    font-size: large;
    text-align: center;
    margin: 0 auto;
    float: none;
}

/* service Img Block */

.service-two__card-image {
	position: relative;
	overflow: hidden;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.service-two__card {
	border-radius: 5px;
	margin-bottom: 20px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	background: white;
}
.service-two .row [class*="col-"] {
	padding-left: 7px;
	padding-right: 7px;
}
.service-two__card-image > img {
	width: 100%;
}

.service-two__card-content {
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -48px;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 325px;
}

.service-custom {
	height: 169px;
	padding: 14px 20px;
}

.service-custom h2{
	line-height: 1.4;
}
.service-form p {
	margin-bottom: 14px;
}
.service-two__card-content h2 {
	font-size: 22px;
	text-align: left !important;
	text-transform: capitalize;
}
.service-form i {
	color: green;
	border: 2px solid;
	border-radius: 50%;
	padding: 1px;
}
.service-heading p {
	line-height: 1.4 !important;
	color: #414141;
	font-size: 18px;
}

.service-form h2 {
	font-size: 23px;
	text-transform: capitalize;
	color: #1d681d;
	margin-bottom: 19px;
	line-height: 1.5;
}
.service-two__card-content h2 a{
	color: black !important;
}
.service-heading p {
	line-height: 1.5 !important;
	color: #5b5555;
}

.service-heading {
	margin-bottom: 30px;
}

.btn-inquire-now1 {
    background: #000000;
    padding: 10px 40px;
    font-size: 20px;
    color: white !important;
    margin-top: 20px;
    border: 1px solid #ffffff;
    margin: 0px 14px;
}
.custom-list{
	display: block;
}
.custom-list li {
    display: list-item;
    list-style: auto;
    text-align: left;
}
.custom-popup-link{

}
.cursor-pointer{
	cursor: pointer;
}
.btn-inquire-now2 {
    background: #3b8440;
    padding: 10px 40px;
    font-size: 17px;
    color: white !important;
    margin-top: 20px;
    border: 1px solid #ffffff;
    margin: 0px 14px;
}

.service-two__card-icon {
	width: 108px;
	height: 108px;
	top: -54px;
	margin-bottom: -54px;
	font-size: 50px;
	
}
.service-two__card-content h3 {
	margin-left: auto;
	margin-right: auto;
}
.service-two__card-content h3 a {
	color: inherit;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.service-icon-block {
	padding: 28px;
	background: #66a55c;
	width: 100px;
	border-radius: 50%;
	border: 2px solid #66a55c;
	height: 100px;
	padding: 0;
	text-align: center;
	text-align: center;
	border: 4px solid white;
	display: flex;
}

.service-icon-block img {
	padding: 22px;
	width: inherit;
}

/* pagination */

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
  }
  .pagination > li {
	display: inline;
  }
  .pagination > li > a,
  .pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #3b8442;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
  }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
  }
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
  }
  .pagination > li > a:hover,
  .pagination > li > span:hover,
  .pagination > li > a:focus,
  .pagination > li > span:focus {
	color: #23527c;
	background-color: #eee;
	border-color: #ddd;
  }
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus {
	z-index: 2;
	color: white!important;
	cursor: default;
	background-color: #3b8442;
	border-color: #3b8442;
  }
  .pagination > .disabled > span,
  .pagination > .disabled > span:hover,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd;
  }
  
  .active>.page-link, .page-link.active {
    z-index: 3;
    color: white;
    background-color: white;
    border-color: #3d8541;
}
