@use '../utils' as *;


.it-custom-accordion {
    & .accordion-items {
        border-radius: 10px;
        margin-bottom: 20px;
        border: 1px solid var(--it-grey-1);
    }
    & .accordion-header{
        border-radius: 5px;
        background-color: #F3FAF6;
    }
    &.inner-accordion{
        & .accordion-items {
            margin-bottom: 30px;
            border: 1px solid var(--it-grey-1);
            background-color: var(--it-grey-1);
        }
    }

    & .accordion-buttons {
        position: relative;
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        line-height: 1.3;
        padding: 20px 70px 20px 30px;
        color: var(--it-common-black);
        border-radius: 5px 5px 0 0;
        &:not(.collapsed) {
            background: var(--it-theme-1);
            color: var(--it-common-white);
        }
        @media #{$xl} {
            font-size: 20px;
        }
        @media #{$lg,$md} {
            font-size: 16px;
            padding: 15px 70px 15px 30px;
        }
        @media #{$xs} {
            font-size: 17px;
            & br{
                display: none;
            }
        }
        @media #{$sm} {
            font-size: 17px;
        }
        &::after {
            position: absolute;
            content: "\f068";
            font-family: 'Font Awesome 6 Pro';
            top: 0;
            bottom: 0;
            right: 30px;
            font-weight: 300;
            font-size: 30px;
            opacity: 1;
            height: 26px;
            line-height: 26px;
            text-align: center;
            width: 26px;
            border-radius: 50%;
            margin: auto;
            @media #{$xs} {
                font-size: 18px;
            }
            &:not(.collapsed) {
                color: var(--it-common-white);
            }
        }
        &.collapsed {
            &::after {
                content: '\f067';
            }
        }
    }

    & .collapsed {
        position: relative;
        z-index: 99;
    }

    & .accordion-body {
        font-weight: 500;
        font-size: 17px;
        line-height: 1.5;
        padding: 15px 30px;
        padding-bottom: 30px;
        position: relative;
        background-color: #F3FAF6;
        z-index: 1;

        @media #{$xl} {
            font-size: 15px;
        }

        @media #{$lg} {
            font-size: 14px;
        }

        @media #{$md,$xs} {
            font-size: 14px;
        }

        @media #{$sm} {
            font-size: 15px;
        }
    }
}
